header {
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: -33px;
    margin-right: -33px;
    margin-left: -33px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
}

.exitButton {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 25px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
}

.profilePic {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 50px;

    padding-left: 120px;
    padding-right: 20px;
    padding-top: 12px;
}

#nameGame {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:#566552;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-left: 20px;
    padding-right: 20px;

}

.heartScore {

}


body {
    /*imagem de fundo de whatsapp, criar topo, bg, balões de chat e parte da resposta*/
    background-image: url("https://github.com/ShKev03/WhatsChat/blob/main/src/background.png?raw=true"); /*(colocar divzona so pra isso)*/
    background-size:100%;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
}

.chatQuestion {
    display: flex;
    flex-direction: column;
}

#questionTitle {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#566552;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: left;
    right: 0px;
    width: 300px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    padding: 15px;
    background-color: #ffffff;
}

.alts {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
}

.chatAlts {
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: right;
    right: 0px;
}

.choices {
    font-size: 15px;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #566552;
    display: flex;
    flex-direction: column;
    position: right;
    width: 300px;
    border: 3px solid #dbffd0;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    background-color: #dbffd0;
}

.chatAnswer {
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #566552;
    justify-content: right;
    position:right;
    display: flex;
    flex-direction: column;
    width: 100px;
}

#score {
    font-size: 15px;
    font-weight:600;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.footer {
    display: flex;
    background-color: #f6f6f6;
    align-content: flex-end;
    align-self: flex-end;
    padding: 20px;
    margin-right: -10px;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;    
    text-align: center;
    line-height: 20px;
}

#chatTyping {
    position: flex;
    background-color: #ffffff;
    width: 100%;
    align-content: flex-end;
    align-self: flex-end;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #566552;
    padding-left: 20px;
    margin-left: 40px;
    border: 3px solid #ffffff;
    border-radius: 20px;
}

